@import "/app/globals.scss";

.notification {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0rem 2rem;
  color: $blue;
  background-color: $light-blue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  button {
    font-size: 1rem;
    color: $blue;
    background-color: Transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
  button:hover {
    cursor: pointer;
    border: none;
    background-color: Transparent;
    color: $blue;
  }
  &_content {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: $light-blue;
    list-style: none;
    font-size: 0.9rem;
    li {
      cursor: pointer;
      padding: 1rem 2rem;
      border-top: solid 1px rgba($blue, 0.25);
    }
    li:hover {
      background-color: white;
    }
  }
}
.open {
  .notification_content {
    display: block;
  }
}

@media (max-width: 1000px) {
}

@media (max-width: 480px) {
}
